@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mynerve&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    overflow-x: hidden ;
}

body{
    font-family: 'Poppins', sans-serif;
    
}

/* home page starts */
.nav-bar ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;  
    padding: 30px 0px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    background: rgba(0,0,0,0.5);
}

.nav-bar ul li a{
    cursor: pointer;
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
}

.nav-bar ul li a:hover{
  color: #000;
}



.home-page{
    height: 100vh;
    background-image: url(img/home.jpg);
    background-attachment: fixed;
    background-size: cover;
}

   
  .showcase{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
  }
  
  .showcase h3{
    color: #ffffff;
    text-align: center;
    font-family: 'Mynerve', cursive;
    font-size: 30px;  
  }

  .showcase h1{
    z-index: 2;
    color: #ffffff;
    font-family: 'Bangers', cursive;
    font-size: 100px;
    letter-spacing: 10px;
  }

  /* home page ends */
  /* description */
  .description,.facts{
    background-color: #ffffff;
    padding: 50px;
    z-index: 2;
    text-align: center;
  }
  .facts ul{
    text-align: center;
    margin-top: 20px;
  }
  .facts h1{
    letter-spacing: 5px;
    font-weight: 200;
  }
  .description h1{
    text-align: center;
    margin-bottom: 20px;
    letter-spacing: 5px;
    font-weight: 200;
    z-index: 2;
  }
/* history page */
  .history-page{
    background-image: url(img/home.jpg);
    background-attachment: fixed;
    background-size: cover; 
    background-position: center;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
  }

  .part img{
    height: 500px;
    width: 300px;
    border-radius: 20px;
    box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.3);
    background-color: #000;
    transition: all 0.5s ease-in-out;
  }

  .part{
    height: 500px;
    width: 300px;
    position: relative;
    margin: 100px 10px 20px;
    cursor: pointer;
    overflow: hidden;
    border-radius: 20px;
  }
/* overlay class for the text over */
  .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #ffffff;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    background-color: rgba(0,0,0,0.8);
    transition: all 0.5s ease-in-out;
  }

  .overlay h2,p{
    text-align: center;
  }

  .part:hover img{
    opacity: 0.5;
    transform: scale(1.05);
  }

  .part:hover .overlay{
    opacity: 1;
    transform: scale(1.05);
  }

  /* history page ends */
 /* foods page starts */

 .foods-page{
  background: url(img/home.jpg);
  background-attachment: fixed;
  background-size: cover;
 }

 .food-container1{
   display: flex;
   align-items: center;
   justify-content: space-around;
   height: 100vh;
   margin-bottom: -100px;
 }
 
 .food-container2{
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100vh;
}
 

.food img{
  height: 300px;
  width: 300px;
  padding: 20px 20px;
}

.food{

  border-radius: 20px;
  background-color: #ffffff;
  text-decoration: none;
  transition: all 0.5s ease-in-out;
  box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.3);
}

.food p {
  margin-bottom: 50px;
  color: #000;
  font-weight: 300;
  letter-spacing: 3px;
}

.food:hover{
  transform: scale(1.1);
}

/* foods-page ends */
.video{
   text-align: center;
   padding: 50px 0;
}

.video h1{
  font-weight: 300;
  letter-spacing: 5px;
  margin-bottom: 5px;
}

.video a{
  font-size: 4rem;
  color: #FF0000;
}

.video a i{
  transition: all 0.3s ease-in;
}

.video a i:hover{
  transform: scale(1.2);
}

/* video ends */

/* gallery/places-page starts */

.places-page{
  background: #000;
  background-attachment: fixed;
  background-size: cover;
  height: 110vh;
  padding: 20px auto;
}


 .gallery1{
  height: 70px;
  width: 120px;
  transform: translate(200px, 0px);
  
}

.gallery2{
  height: 150px;
  width: 200px;
  transform: translate(320px,150px);
  
}

.gallery3{
  height: 150px;
  width: 300px;
  transform: translate(50px,350px);
  
}
.gallery4{
  height: 90px;
  width: 200px;
  transform: translate(0px,30px);
  
}
.gallery5{
  height: 150px;
  width: 250px;
  transform: translate(100px,200px);
  
}
.gallery6{
  height: 100px;
  width: 150px;
  transform: translate(100px,50px);
  
  
}
.gallery7{
  height: 200px;
  width: 300px;
  transform: translate(500px,300px);
  
}
.gallery8{
  height: 150px;
  width: 200px;
  transform: translate(800px,100px);
  
}
.gallery9{
  height: 100px;
  width: 150px;
  transform: translate(-400px,0px);
  
}
.gallery10{
  height: 150px;
  width: 200px;
  transform: translate(300px,300px);
  
}
.gallery11{
  height: 100px;
  width: 150px;
  transform: translate(-700px,300px);
  
}

.gallery-tab{
  color: #ffffff;
  text-align: center;
  transform: translateX(-1px);
}

.gallery-tab h1{
  font-weight: 200;
  letter-spacing: 5px;
}

button{
  cursor: pointer;
  padding: 5px 30px;
  background: #ffffff;
  font-size: 16px;
  border: none;
  letter-spacing: 3px;
}

.page-active{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 10px;
  background-color: #000;
  overflow: hidden;
  padding-top: 10px;
  padding-bottom: 10px;
}

.gallery-active{
  height: 300px;
  width: 450px;
}


.back-container{
  text-align: center;
  display: none;
  transform: translateY(100px);
}

.back{
  color: #ffffff;
  font-size: 70px;
  background-color: #000;
  cursor: pointer;
}

.back :hover{
  color: #FF0000;
}

.not-active{
  display: none;
  transition: all 0.5s ease-in;
}

.active{
  display: block;
  transition: all 0.5s ease-in;
}

/* places page end */

/* footer */

footer{
  padding: 20px 0px 50px;
  text-align: center;
}

footer button{
  color: #ffffff;
  background-color: #000;
  margin-top: 10px;
}

.bar{
  height: 3px;
  width: 60px;
  background-color: #ffffff;
  margin-top: 5px;
}

/* media queries */

/* Medium screens (768px - 1023px) */
@media only screen and (max-width: 1023px) {
    
  .showcase h1{
    font-size: 70px;
    z-index: 1;
  }

  

  .nav-bar ul{
    flex-direction: column;
    padding-top: 100px;
    text-align: center;
    align-items: space-around;
    justify-content: space-around;
    width: 150px;
    height: 100vh;
    display: none;
    z-index: 2;
  }

  .nav-bar ul.open-bar{
    display: block;
  }
  
  .nav-bar ul li{
    padding-top: 50px;
  }


  .ham-menu{
    width: 40px;
   height: 45px;
  position: relative;
  margin: 20px auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  float: left;
  margin-left: 20px;
  z-index: 999;
  position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }
  
  .ham-menu span{
    display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: #181717;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
  border-radius: 999px;
  }

  .ham-menu span:nth-child(1) {
    top: 0px;
  }
  
  .ham-menu span:nth-child(2),.ham-menu span:nth-child(3) {
    top: 18px;
  }
  
  .ham-menu span:nth-child(4) {
    top: 36px;
  }
  
  .ham-menu.open span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
  }
  
  .ham-menu.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  
  .ham-menu.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  
  .ham-menu.open span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
  }
  
  .history-page{
    display: grid;
    grid-template-columns: repeat(2,1fr);
  }

  .part{
    align-self: center;
    justify-self: center;
  }


  .food-container1,.food-container2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 1500px;
  }
  .food-container2{
    height: 2000px;
  }
  .foods-page{
    height: 3500px;
  }

  .food{
    margin-top: 50px;
  }

  .places-page{
    height: 150vh;
  }
  
  .page-active{
    grid-template-columns: repeat(2,1fr);
  }

  .gallery-active{
    height: 300px;
    width: 500px;
  }
}

/* Small screens (320px - 767px) */
@media only screen and (max-width: 767px) {
  .showcase h1{
    font-size: 60px;
  }

  .history-page{
    display: grid;
    grid-template-columns: 1fr;
  }

  .gallery{
    display: none;
  }

  .gallery-tab{
    padding-top: 150px;
  }

  .places-page{
    background: url(img/home.jpg);
    background-attachment: fixed;
    background-size: cover;
    height: 400px;
    padding: 20px auto;
  }
  .page-active{
    grid-template-columns: 1fr;
    
  }

  .gallery-active{
    display: block;
  }

  .back-container{
    transform: translateY(-10px);
    transform: translateX(-50px);
  }
  .back{
    padding-top: 25px;
  }

  .overlay{
    opacity: 1;
    background-color: rgba(0,0,0,0.7);
  }

  .home-page,.history-page,.foods-page,.places-page{
    background: rgb(236,12,24);
    background: linear-gradient(90deg, rgba(236,12,24,1) 0%, rgba(12,152,31,1) 100%);
  }
}
