@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mynerve&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Poppins', sans-serif;
}

/* home page starts */
.nav-bar ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;  
    padding: 30px 0px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    background: rgba(0,0,0,0.2);
}

.nav-bar ul li a{
    cursor: pointer;
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
}

.home-page{
    height: 100vh;
    background-image: url(img/home.jpg);
    background-attachment: fixed;
    background-size: cover;
}

   
  .showcase{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
  }
  
  .showcase h3{
    color: #ffffff;
    text-align: center;
    font-family: 'Mynerve', cursive;
    font-size: 30px;  
  }

  .showcase h1{
    z-index: 2;
    color: #ffffff;
    font-family: 'Bangers', cursive;
    font-size: 100px;
    letter-spacing: 10px;
  }

  /* home page ends */
  /* description */
  .description,.facts{
    background-color: #ffffff;
    padding: 50px;
    z-index: 2;
    text-align: center;
  }
  .facts ul{
    text-align: left;
    transform: translateX(450px);
    margin-top: 20px;
  }
  .facts h1{
    letter-spacing: 5px;
    font-weight: 200;
  }
  .description h1{
    text-align: center;
    margin-bottom: 20px;
    letter-spacing: 5px;
    font-weight: 200;
    z-index: 2;
  }
/* history page */
  .history-page{
    background-image: url(img/home.jpg);
    background-attachment: fixed;
    background-size: cover; 
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: space-around;
  }

  .part img{
    height: 500px;
    width: 300px;
    border-radius: 20px;
    box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.3);
    background-color: #000;
    transition: all 0.5s ease-in-out;
  }

  .part{
    height: 500px;
    width: 300px;
    position: relative;
    margin: 100px 10px 20px;
    cursor: pointer;
    
  }
/* overlay class for the text over */
  .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #ffffff;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    background-color: rgba(0,0,0,0.8);
    border-radius: 20px;
    transition: all 0.5s ease-in-out;
  }

  .overlay h2,p{
    text-align: center;
  }

  .part:hover img{
    opacity: 0.5;
    transform: scale(1.05);
  }

  .part:hover .overlay{
    opacity: 1;
    transform: scale(1.05);
  }

  /* history page ends */
 /* foods page starts */

 .foods-page{
  background: url(img/home.jpg);
  background-attachment: fixed;
  background-size: cover;
 }

.main{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.secondary{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 50px;
  padding-bottom: 50px;
}
.food img{
  height: 300px;
  width: 300px;
  padding: 20px 20px;
}

.food{
  margin-top: 50px;
  border-radius: 20px;
  background-color: #ffffff;
  text-decoration: none;
  transition: all 0.5s ease-in-out;
  box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.3);
}

.food p {
  margin-bottom: 50px;
  color: #000;
  font-weight: 300;
  letter-spacing: 3px;
}

.food:hover{
  transform: scale(1.1);
}
/* foods-page ends */
.video{
   text-align: center;
   padding: 50px 0;
}

.video h1{
  font-weight: 300;
  letter-spacing: 5px;
  margin-bottom: 5px;
}

.video a{
  font-size: 4rem;
  color: #FF0000;
}

.video a i{
  transition: all 0.5s ease-in-out;
}

.video a i:hover{
  transform: scale(1.2);
}

/* video ends */

/* gallery/places-page starts */

.places-page{
  background: #000;
  background-attachment: fixed;
  background-size: cover;
  height: 110vh;
  transition: all 0.5s ease-in-out;
}

.gallery1{
  height: 70px;
  width: 120px;
  transform: translate(200px, 0px);
}

.gallery2{
  height: 120px;
  width: 150px;
  transform: translate(180px,150px);
}

.gallery3{
  height: 150px;
  width: 300px;
  transform: translate(50px,350px);
  z-index: -1;
}
.gallery4{
  height: 90px;
  width: 200px;
  transform: translate(0px,30px);
}
.gallery5{
  height: 150px;
  width: 250px;
  transform: translate(-50px,150px);
}
.gallery6{
  height: 100px;
  width: 150px;
  transform: translate(150px,100px);
  
}
.gallery7{
  height: 200px;
  width: 300px;
  transform: translate(500px,300px);
}
.gallery8{
  height: 150px;
  width: 200px;
  transform: translate(800px,100px);
}
.gallery9{
  height: 100px;
  width: 150px;
  transform: translate(-400px,0px);
}
.gallery10{
  height: 150px;
  width: 200px;
  transform: translate(300px,300px);
}
.gallery11{
  height: 100px;
  width: 150px;
  transform: translate(-700px,300px);
}

.gallery-tab{
  color: #ffffff;
  text-align: center;
  transform: translateX(-1px);
}

.gallery-tab h1{
  font-weight: 200;
  letter-spacing: 5px;
}

button{
  cursor: pointer;
  padding: 5px 30px;
  background: #ffffff;
  font-size: 16px;
  border: none;
  letter-spacing: 3px;
}

.page-active{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 10px;
}

.gallery-active{
  height: 300px;
  width: 450px;
}

.back-container{
  text-align: center;
  transform: translateY(100px);
  display: none;
}

.back{
  color: #000;
  font-size: 70px;
}

.back :hover{
  color: #FF0000;
}

.not-active{
  display: none;
}

.active{
  display: block;
}